.item{
    width:350px;
    /* transition-duration:2s;
    transition-timing-function: ease-in; */
}
.item p{
    color:white;
    /* background:rgb(255, 0, 255); */
    /* background:#541a9b9b; */
    /* background:#5518ab; */
    border-radius:20px;
    margin: 6px 0px;
}
.item:hover{
    background:#5518ab;

}
.item-prices{
    display:flex;
    gap:20px;
}
.item-price-new{
    color:#374151;
    font-size:18px;
    font-weight:600;
}
.item-price-old{
    color:#8c8c8c;
    font-size:18px;
    font-weight:500;
    text-decoration: line-through;
}
.item:hover{
    transform:scale(1.05);
    transition:1s;
}