.DescriptionBox{
    margin:120px 170px;
}

.DescriptionBoxNavigator{
    display: flex;
}

.DescriptionBoxNavBox{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width:171px;
    height:70px;
    border:1px solid white;
}
.Fade{
    color:#bdbcbc;
}
.DescriptionBoxDescription{
    display:flex;
    flex-direction:column;
    gap:25px;
    border:1px solid white;
    padding:40px;
    padding-bottom:70px;
}